body {
  width:100%;
  height: 100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color: rgb(222, 222, 222);
}

md-content.md-default-theme, md-content {
  background-color: rgb(222, 222, 222);
}

md-card > h2 {
  padding-left : 15px;
  
}

.note {
  width: 100%;
  box-sizing:border-box;
  
}

p.good {
  line-height: 30px;
  padding-left: 10px;
  margin: 10px;
    box-sizing:border-box;  
    background-color: rgba(0, 128, 0, 0.31);  
}

p.warn {

  line-height: 30px;
  padding-left: 10px;
  margin: 10px;
    box-sizing:border-box;  
    background-color: rgba(204, 2, 5, 0.31);
}

.red-team {
  background-color:#E8483C; 
  color:white
}

.logo {
  width: 43px;
  height: 100%;
  max-width: none;
  background: url(/img/46f7b586.falcon-wing-white.svg) no-repeat center 20px;
  background-size: 100%;
  display: inline-block;
  margin-left: 20px;
}